@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #fdde7e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

h3.ba-cup-title {
  font-size: 56px;
  font-weight: 400;
  margin: 15px 0 15px;
}

.ba-cup-price {
  font-family: 'Dosis', sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1.75px;
}

/* Layout */
.ba-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

/* Typography */
a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
}
input[type='submit']:hover,
input[type='button']:hover,
button:hover,
.ba-button:hover {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-cups {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  height: 100vh;
}

.ba-cup {
  background-color: #fff;
  flex-basis: 360px;
  margin: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 36px;
  border-radius: 3px;
  flex-grow: 1;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  color: #333333;
  transition: padding 0.1s ease-in;
}

.ba-cup-price {
  margin: 0 0 10px;
  color: #02995b;
}

.ba-img-cup {
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.ba-cup:hover .ba-img-cup {
  transform: scale(1.1);
}

.ba-cup-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;

  max-width: 150px;
  text-align: center;
}

.ba-cup-active {
  padding: 40px 0 50px;
}

.ba-cup-active .ba-cup-price {
  margin: 0 0 20px;
}
.ba-cup-active .ba-cup-title {
  margin: 22px 0 20px;
}

@media screen and (max-width: 1199px) {
  .ba-cup-active {
    padding: 20px 0 36px;
  }
  .ba-cup-active .ba-cup-price {
    margin: 0 0 10px;
  }
  .ba-cup-active .ba-cup-title {
    margin: 15px 0;
  }
}
